/* CSS files add styling rules to your content */

body {
  font-family: "Rock Salt", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: "Rock Salt", "Helvetica Neue", helvetica, arial, sans-serif;
  font-style: italic;
  color: #373fff;
}

table {
  table-layout: auto;
  width: 100%;
  border: 5px solid '#800080';
  border-radius: 10px;
  font-family: "Rock Salt", "Helvetica Neue", helvetica, arial, sans-serif;
  border-collapse: collapse;
}

thead,
tfoot {
  background-image: url("./assets/leopardskin.jpg");
}

tbody {
  background-image: url("./assets/noise.png");
}

th {
  border: 1px solid #800080;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width = 100%;
  text-align: center;
}

.even-row {
background-color: #ff33cc;
  text-align: center;
}

.odd-row {
background-color: #e495e4 ;
  text-align: center;
}
