/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: "Rock Salt", "Helvetica Neue", helvetica, arial, sans-serif;
  font-style: italic;
  color: #373fff;
}

table {
  table-layout: auto;
  width: 100%;
  border: 5px solid '#800080';
  border-radius: 10px;
  border-collapse: collapse;
}

thead, tfoot {
  color: white;
  font-family: "Rock Salt", "Helvetica Neue", helvetica, arial, sans-serif;
  background-image: url("./asset/leopardskin.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
}

tbody {
  background-image: url("./asset/leopardskin.jpg");
  background-image: url("./asset/noise.png");
}

th {
  border: 1px solid #800080;
  color: white;
  overflow: hidden;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.even-row {
  background-image: url("./asset/noise.png");
  background-color: #ff33cc;
  background-blend-mode: overlay;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;  
}

.odd-row {
  background-color: #e495e4 ;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; 
}

